set default=0
set timeout=0
set timeout_style=hidden

# Silent boot - press Shift (BIOS) or Escape (UEFI) to show menu
if [ "x${timeout}" = "x0" ]; then
    set timeout_style=hidden
fi

insmod all_video
insmod gfxterm

menuentry "ngstep" {
    linux /live/vmlinuz boot=live quiet splash
    initrd /live/initrd.img
}

menuentry "ngstep (verbose)" {
    linux /live/vmlinuz boot=live
    initrd /live/initrd.img
}

menuentry "ngstep (fail-safe)" {
    linux /live/vmlinuz boot=live memtest noapic noapm nodma nomce nolapic nomodeset nosmp nosplash vga=normal
    initrd /live/initrd.img
}
